@import "constantes";

.navbar {
  height: 55px;
  background-color: rgb(32, 32, 32);
  a {
    color: white;
    font-size: 24px;
    font-family: 'Source Sans Pro', sans-serif;
    text-transform: uppercase;
  }
}

header {
  background-color: rgb(32, 32, 32);
  min-height: 100vh;

  .title-container {
    text-align: center;

    .developper {
      color: white;
      font-size: 3.8vw;
      font-family: 'Raleway', sans-serif;
      font-weight: 200;
      text-transform: uppercase;
      margin-left: 21vw;
      position: relative;
      top: -2vw;
      animation-name: slip-developper;
      animation-duration: 5s;
      -webkit-animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    span {
      font-size: 40px;
      animation-name: show-arrow;
      animation-duration: 5s;
      font-weight: 100;
    }
  }
}


@keyframes slip-developper {
  0% { margin-left: -100vw; }
  100% { margin-left: 21vw; }
}

@keyframes show-arrow {
  0% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}