<section id="career">
    <div class="text-center">
        <h2>PARCOURS</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <h3>Formation</h3>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 text-center">
                        AFPA
                    </div>
                    <div class="col-8">
                        <h4>TECHNICIEN INFORMATIQUE</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, dolor ex explicabo illum laboriosam nam nemo neque optio perferendis placeat porro quasi quisquam quos saepe suscipit unde vitae voluptatibus voluptatum?</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 text-center">
                        WILD CODE SCHOOL
                    </div>
                    <div class="col-8">
                        <h4>DEVELOPPEUR WEB</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, dolor ex explicabo illum laboriosam nam nemo neque optio perferendis placeat porro quasi quisquam quos saepe suscipit unde vitae voluptatibus voluptatum?</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <h3>Expèriences</h3>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4 text-center">
                        Projet I/O
                    </div>
                    <div class="col-8">
                        <h4>Développeur web et mobile</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad, dolor ex explicabo illum laboriosam nam nemo neque optio perferendis placeat porro quasi quisquam quos saepe suscipit unde vitae voluptatibus voluptatum?</p>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <h3>Skills</h3>
                        <hr>
                    </div>
                    <div class="col-12">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 0%">HTML - CSS</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 0%">HTML - CSS</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 0%">HTML - CSS</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 0%">HTML - CSS</div>
                        </div>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 0%">HTML - CSS</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>