{% block stylesheets %}
    {{ encore_entry_link_tags('description') }}
{% endblock %}

<div class="description col-12" id="description">
    <h2>QUI SUIS-JE ?</h2>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos, harum, sed. Eaque eos eum
                    explicabo, magni pariatur praesentium, quisquam repellat reprehenderit repudiandae, tempore
                    temporibus
                    voluptate? Dicta ducimus quis recusandae vel.</p>
            </div>
        </div>
    </div>
</div>




