<header class="row">
    {% include './includes/navbar.html.twig' %}
    <div class="col-12 title-container">
        <h1>Anthony Sottejeau</h1>
        <span class="developper">WEB DEVELOPPER</span>
    </div>
</header>